OLLAMA_API=http://localhost:1234
AI_MODEL=ai_model
APP_PORT=8000
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_EXTERNAL_PORT=5432
POSTGRES_DB=my_database
MINIO_EXTERNAL_PORT=9000
MINIO_EXTERNAL_PORT_APP=9001
MINIO_ROOT_USER=user
MINIO_ROOT_PASSWORD=password
MINIO_BUCKET=files
MINIO_SECURE=False
YOUCONTROL_API_KEY=93479021591u9u139i

#DON'T CHANGE!
POSTGRES_HOST=db
POSTGRES_PORT=5432
MINIO_API=minio
MINIO_PORT=9000
MINIO_PORT_APP=9001
CORS_ORIGINS=["http://localhost:5173"]